.login-form {
  margin: 8rem auto;
  width: 35%;
  text-align: center;
  border: 1px solid rgb(83, 116, 99);
  box-shadow: 1px 2px 2px #888888;
  padding: 35px 25px;
  font-family: sans-serif;
  color: rgb(83, 116, 99);
}


.form-group {
  margin-bottom: 10px;
}



.icon {
  padding: 18px;
  padding-bottom: 14.5px;
  background: rgb(83, 116, 99);
  color: white;
  min-width: 5%;
  text-align: center;
}


input[type="text"],
input[type="password"] {
  width: 86.9%;
  padding: 10px;
  padding-top: 14px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 10px -5px;
  font-size: larger;
}

input[type="text"]:focus,
input[type="password"]:focus {
  outline: none;
  border-color: rgb(49, 88, 68);
}




.submit-button {
  background-color: rgb(83, 116, 99);
  color: white;
  padding: 10px 50px 10px 50px;
  box-shadow: 0px 0px 5px 5px rgba(83, 116, 99, 0.2);
  width: 100%;
  cursor: pointer;
  margin: 5px 0;
  margin-left: 2px;
  font-size: larger;
}

.submit-button:hover {
  background-color: rgb(49, 88, 68);
  box-shadow: 0px 0px 5px 5px rgba(83, 116, 99, 0.5);
  color: white;
}

.error-msg {
  color: red;
  margin: 10px;
  font-size: larger;
}