* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: sans-serif;
}



.navigation {
    margin-top: 10px;
    display: flex;
    column-gap: 10vw;
}

input {
    width: 16vw;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 15px;
    margin-top: 2%;
    margin-bottom: 2%;
}

input[type=search]:focus {
    outline: .1px solid rgb(165, 165, 238);
}

.nosubmit {
    border: none;
    padding: 0;
}


input.nosubmit {
    border: 1px solid #160101;
    padding: 10px 10px 10px 40px;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}


.resume-container {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
    margin-top: 10px;
    height: auto;
    width: 70vw;
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "sidebar content content";
    grid-template-rows: 150px 1fr;
    grid-template-columns: 20vw 1fr;
}

.header {
    grid-area: header;
    /* border-radius: 35px 10px 0 0; */
    height: 20vh;
    display: flex;
    justify-content: center;
    background-color: rgb(83, 116, 99);
}




.content {
    grid-area: content;
}

.header-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    width: 1000px;
    margin-left: 100px;
    margin-top: 1vh;
    justify-content: center;
    font-size: xx-large;
}


.apply {
    text-align: center;
    color: white;
    font-size: 20px;
}


img {
    height: 90px;
    width: 85px;
}

.image {
    margin-top: 5vh;
    justify-content: end;
    margin-right: 7%;
}

.sidebar {
    grid-area: sidebar;
    padding: 5.2% 5% 0 0;
}

.info {
    background-color: rgb(162, 204, 182);
}

.info p,
.info a {
    text-align: right;
    margin-right: 3%;
    padding: 2%;

}

.info h2 {
    background-color: rgb(83, 116, 99);
    width: 95%;
    color: white;
    border-radius: 0px 10px 10px 0px;
    padding-left: 5px;
}

.main {
    padding-top: 3%;
    padding-right: 8%;
}

.main p,
.main li {
    margin-left: 5%;
    text-align: justify;
    list-style-type: square;
    padding: 5px;
}



button {
    width: 75px;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: rgb(162, 204, 182);
}

button:hover {
    cursor: pointer;
    background-color: rgb(83, 116, 99);
    color: white;
}


.work p {
    margin-bottom: 10px;
}

.content h2 {
    margin-bottom: 10px;
    margin-top: 10px;
}

.errorpage {
    outline: 1px solid rgb(180, 179, 179);
    height: 30vh;
    width: 80%;
    background-image: url(../resources/img/error-img.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 50px;
}


.hobbies:last-child {
    padding-bottom: 5%;
}

.header p,
.applied {
    font-weight: 100px;

}

.achievements:last-child {
    margin-bottom: 5rem;
}


@media screen and (max-width:625px) {
    .sidebar h2 {
        font-size: 18px;
    }

    .sidebar p {
        font-size: 15px;
    }
}

@media screen and (max-width:500px) {
    .sidebar h2 {
        font-size: 15px;
    }

    .sidebar p {
        font-size: 11px;
    }
}

@media screen and (max-width:625px) {
    .main h2 {
        font-size: 18px;
    }

    .main p,
    .main li {
        font-size: 15px;
    }
}

@media screen and (max-width:425px) {
    .main h2 {
        font-size: 15px;
    }

    .main p,
    .main li {
        font-size: 11px;
    }
}